<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bioskop</title>
<link rel="stylesheet" href="index.css" type="text/css">
</head>
<body>
	<div class="login" id="app">
		<form class="login-form" action="LoginServlet" method="post">
		<input v-model="username" type="text" id="userName" placeholder="username"/><br>
		<input v-model="password" type="password" id="Password" placeholder="password"/><br>
		<button v-on:click.prevent="loginSubmit" type="submit" id="loginSubmit"> Login </button>
		<p class="message">Not registered? <a href="#">Register now</a></p>
		</form>
		<div v-if="showMessage" role="alert" id="messageDiv">
             <p style="color: red;" id="messageParagraph">{{ message }}</p>
        </div>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/jquery-3.4.1.js" type="text/javascript"></script>
<script src="js/Login.js"></script>
</html>