<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="movies.css">
    
    <title>Movies</title>
  </head>
  <body style="	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(imgs/cinema_cover.jpg);
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;">
				
				
	<div id="app">
 	<!-- NAVIGATION -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapse_target">
		<a class="navbar-brand" href="Welcome.html"><img src="imgs/cinema-logo.jpg" class="img-responsive"></a>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link font-weight-bold text-white" href="Welcome.html">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link font-weight-bold text-white" href="Users.html">Users</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" data-target="#dropdown_target" href="#" style="color: white;">
				Account</a>
				<div class="dropdown-menu" aria-labelledby="dropdown_target">
					<a class="dropdown-item" href="Login.html">Sign in</a>
					<a class="dropdown-item" href="Register.html">Register</a>
					<a class="dropdown-item" href="'MyAccount.html?username=' + loggedInUser.username">My Account</a>
					<a class="dropdown-item" href="Logout.html">Logout</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link font-weight-bold text-white" href="#">Reports</a>
			</li>
		</ul>
		</div>
	</nav>
	<div style="height: 120px;" class="row d-none d-lg-block"></div>
	<!-- END OF NAVIGATION -->
	
	<div class="row">
            <div class="col">
                <form style="background-color: #22262a !important;
                color: #FFF !important;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;">
                    <div class="form-row">
                        <div class="form-group col-xl-2">
                            <input v-model="searchTitle" v-on:keyup="refreshMovies" debounce="500" type="text" class="form-control" id="titleInput" placeholder="Title"/>
                        </div>
                        <div class="form-group col-xl-2">
                            <input v-model="searchGenre" v-on:keyup="refreshMovies" debounce="500" type="text" class="form-control" id="titleInput" placeholder="Genre"/>
                        </div>
                        <div class="form-group col-6 col-xl-2">
                            <input v-model.number="durationMin" v-on:keyup="refreshMovies" debounce="500" type="number" class="form-control" id="durationLowInput" placeholder="MinDuration"/>
                        </div>
                        <div class="form-group col-6 col-xl-2">
                            <input v-model.number="durationMax" v-on:keyup="refreshMovies" debounce="500" type="number" class="form-control" id="durationHighInput" placeholder="MaxDuration"/>
                        </div>
                        <div class="form-group col-6 col-xl-2">
                            <input v-model.number="dateMin" v-on:keyup="refreshMovies" debounce="500" type="number" class="form-control" id="yearLowInput" placeholder="ReleasedFrom"/>
                        </div>
                        <div class="form-group col-6 col-xl-2">
                            <input v-model.number="dateMax" v-on:keyup="refreshMovies" debounce="500" type="number" class="form-control" id="yearHighInput" placeholder="ReleasedUntil"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xl-3">
                            <input v-model="searchDistributor" v-on:keyup="refreshMovies" debounce="500" type="text" class="form-control" id="distributorInput" placeholder="Distributor"/>
                        </div>
                        <div class="form-group col-xl-3">
                            <input v-model="searchCountry" v-on:keyup="refreshMovies" debounce="500" type="text" class="form-control" id="countryInput" placeholder="Country"/>
                        </div>
                        <div class="form-group col-xl-3">
                            <input v-model="searchDirector" v-on:keyup="refreshMovies" debounce="500" type="text" class="form-control" id="countryInput" placeholder="Director"/>
                        </div>
                        <div class="form-group col-xl-3">
                            <select v-model="selectedSort" title="Sort by..." id="sortInput" class="selectpicker form-control" style="border: 1px #FFF">
                                <option v-for="sortOption in sortOptions" v-bind:value="sortOption" style="background: #22262a; color: #FFF;">{{ sortOption }}</option>
                              </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	
	
	<div class="container">
			<div class="col-lg">
					<button class="btn btn-info float-right" @click="showAddModal=true;">
						<i class="fas fa-film"></i>&nbsp;&nbsp;Add new movie
					</button>
			</div>
	<div class="table-responsive mt-5">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Director</th>
					<th scope="col">Genre</th>
					<th scope="col">Duration</th>
					<th scope="col">Distributor</th>
					<th scope="col">Country</th>
					<th scope="col">ReleaseDate</th>
					<th scope="col">Details</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="movie in orderedMovies">
					<th>{{ movie.title }}</th>
					<th>{{ movie.director }}</th>
					<th>{{ movie.genre }}</th>
					<th>{{ movie.duration }}</th>
					<th>{{ movie.distributor }}</th>
					<th>{{ movie.country }}</th>
					<th>{{ movie.releaseDate }}</th>
					<th><a :href="'ShowMovie.html?id=' + movie.id">Details</a></th>
					<th><a href="#" class="text-success" @click="showEditModal=true; selectedMovie(movie);"><i class="fas fa-edit"></i></a></th>
					<th><a href="#" class="text-danger" @click="showDeleteModal=true; selectedMovie(movie);"><i class="fas fa-trash-alt"></i></a></th>
				</tr>
			</tbody>
		</table>

	</div>
	</div>
	
	<div id="overlay" v-if="showAddModal">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"> Add Movie</h5>
					<button type="button" class="close" @click="showAddModal=false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<form>
						<div class="form-group">
							Title:<input v-model="title" type="text" name="title" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Director:<input v-model="director"  type="text" name="director" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Genre:<input v-model="genre" type="text" name="genre" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Duration:<input v-model.number="duration" type="text" name="duration" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Distributor:<input v-model="distributor" type="text" name="distributor" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Country:<input v-model="country" type="text" name="country" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Release date:<input v-model.number="releaseDate" type="text" name="releaseDate" class="form-control form-control-sm">
						</div>
						<div class="form-group">
							<button class="btn btn-info btn-block btn-lg" type="submit" @click.prevent="addMovie">Add movie</button>
						</div>
						<div v-if="showMessage" class="alert alert-danger" role="alert" id="messageDiv">
                                <p style="color: red;" id="messageParagraph">{{ message }}</p>
                        </div>
					</form>
				</div> 
			</div>
		</div>
	</div>
	
	
	<div id="overlay" v-if="showEditModal">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"> Edit Movie</h5>
					<button type="button" class="close" @click="showEditModal=false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<form>
						<div class="form-group">
							Id:<input disabled v-model.number="currentMovie.id" type="text" name="id" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Title:<input v-model="currentMovie.title" type="text" name="title" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Director:<input v-model="currentMovie.director"  type="text" name="director" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Genre:<input v-model="currentMovie.genre" type="text" name="genre" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Duration:<input v-model.number="currentMovie.duration" type="text" name="duration" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Distributor:<input v-model="currentMovie.distributor" type="text" name="distributor" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Country:<input v-model="currentMovie.country" type="text" name="country" class="form-control form-control-sm"> 
						</div>
						<div class="form-group">
							Release date:<input v-model.number="currentMovie.releaseDate" type="text" name="releaseDate" class="form-control form-control-sm">
						</div>
						<div class="form-group">
							<button class="btn btn-info btn-block btn-lg" type="submit" @click.prevent="updateMovie">Update movie</button>
						</div>
						<div v-if="showMessage" class="alert alert-danger" role="alert" id="messageDiv">
                                <p style="color: red;" id="messageParagraph">{{ message }}</p>
                        </div>
					</form>
				</div> 
			</div>
		</div>
	</div>
	
	<div id="overlay" v-if="showDeleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title"> Delete movie</h5>
					<button type="button" class="close" @click="showDeleteModal=false">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body p-4">
					<h4 class="text-danger">Are you sure you want to delete this movie?</h4>
					<h3>You are deleting '{{currentMovie.title}}'.</h3>
					<hr>
					<button class="btn btn-danger btn-lg" @click="deleteMovie">Yes</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="btn btn-success btn-lg" @click="showDeleteModal=false">No</button>
				</div> 
			</div>
		</div>
	</div>
	
	</div>
	</body>
	<script src="js/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	<script>
		// Loading `lodash.fp.js` converts `_` to its fp variant.
		_.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		
		// Use `noConflict` to restore the pre-fp variant.
		var fp = _.noConflict();
		
		_.defaults({ 'a': 1 }, { 'a': 2, 'b': 2 });
		// ➜ { 'a': 1, 'b': 2 }
		fp.defaults({ 'a': 2, 'b': 2 })({ 'a': 1 });
		// ➜ { 'a': 1, 'b': 2 }
		</script>
	<script src="js/Movies.js"></script>
</html>